<template>
    <QPage padding>
        <div class="container">
            <div class="sidebar">
                <div class="sidebar__item" :class="{'sidebar__item--active': tab === 'devices'}" @click="selectTab('devices')">
                    <QIcon name="devices" />
                    Devices
                    <QIcon class="sidebar__item-icon-right" name="play_arrow" />
                </div>
                <div class="sidebar__item" :class="{'sidebar__item--active': tab === 'settings'}" @click="selectTab('settings')">
                    <QIcon name="settings" />
                    Settings
                    <QIcon class="sidebar__item-icon-right" name="play_arrow" />
                </div>
            </div>

            <NotificationDevices v-if="tab === 'devices'" />
            <NotificationSettings v-if="tab === 'settings'" />
        </div>
    </QPage>
</template>

<script>
    import NotificationDevices from './NotificationDevices.vue'
    import NotificationSettings from './NotificationSettings.vue'

    export default {
        components: { NotificationDevices, NotificationSettings },

        data() {
            return {
                tab: 'devices'
            }
        },

        methods: {
            selectTab(tab) {
                this.tab = tab
            }
        },

        mounted() {

        }
    }
</script>

<style lang="scss" scoped>
    .container {
        display: flex;
        padding: 0;
    }

    .content {
        padding: 25px;
        width: 100%;
    }

    .sidebar {
        width: 100%;
        max-width: 250px;
        border-right: 1px solid #ddd;

        &__item {
            display: flex;
            align-items: center;
            padding: 15px 20px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;

            .q-icon:first-child {
                margin-right: 5px;
            }

            &-icon-right {
                color: #bbb;
                margin-left: auto;
                opacity: 0;
                transform: translateX(25px);
                transition: all .3s;
            }

            &--active &-icon-right {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
</style>
