<template>
  <div class="content">
    <h5 class="header">Registered devices</h5>

    <div v-for="token in tokens" class="device">
      <span class="name" v-text="token.device" />

      <span @click="deleteToken(token.id)">
        <QIcon name="delete" color="negative" />
      </span>
    </div>

    <QBtn class="add-button" round color="primary" @click="addDevice" icon="add" />
  </div>
</template>

<script>
// import firebase from 'firebase/app'
// require('firebase/messaging')

const config = {
  apiKey: 'AIzaSyDnHjuatJRx7TACy0c9cwSd9aiJINt4KKY',
  projectId: 'chathub-49821',
  messagingSenderId: '67849343135',
}
// firebase.initializeApp(config)
// const messaging = firebase.messaging()

export default {
  data () {
    return {
      tokens: [],
      messaging: null
    }
  },

  methods: {
    async addDevice () {
      const device = await this.$q.dialog({
        title: 'Add device',
        message: 'Enter name of the device',
        prompt: { model: '' }
      })
      const token = await this.requestToken()
      const existingDevice = this.tokens.find(device => device.token === token)

      if (existingDevice) {
        return this.$q.dialog({
          title: 'Error',
          message: 'Device already added as ' + existingDevice.device
        })
      }

      axios.post(route('users.notification-tokens.store', window.user.id), { device, token })
        .then(response => {
          this.tokens.push(response.data)
        })
        .catch(error => {
          this.$q.dialog({
            title: 'Error',
            message: Object.values(error.response.data.errors)[0][0]
          })
        })
    },
    async requestToken () {
      try {
        await messaging.requestPermission()

        return await messaging.getToken()
      } catch (error) {
        this.$q.dialog({
          title: 'Error',
          message: 'We need permissions to notify you'
        })

        return ''
      }
    },
    deleteToken (id) {
      axios.delete(route('users.notification-tokens.destroy', [window.user.id, id]))
        .then(() => {
          const index = this.tokens.findIndex(token => token.id === id)

          this.tokens.splice(index, 1)
        })
    }
  },

  async mounted () {
    this.tokens = (await axios.get(route('users.notification-tokens.index', window.user.id))).data
  }
}
</script>

<style lang="scss" scoped>
.content {
  position: relative;
  padding-bottom: 70px;
}

.header {
  width: 100%;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}

.device {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid #bbb;

  .q-icon {
    cursor: pointer;
  }
}

.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
</style>
