<template>
    <div class="content">
        <h5 class="header">Settings</h5>
        <QOptionGroup
            color="primary"
            type="checkbox"
            v-model="selectedNotificationOptions"
            :options="notificationOptions"
            @input="notificationChanged"/>
    </div>
</template>

<script>
    export default {
        name: "settings",
        data(){
            return {
                selectedNotificationOptions:[],
                notificationOptions: [
                    { label: 'Firebase Notifications', value: 'firebase' },
                    { label: 'HipChat Notifications', value: 'hipchat' },
                ]
            }
        },
        mounted(){
            this.getNotificationSettings()
        },
        methods: {
            notificationChanged(){
                axios.post('/api/notification-settings', {settings: this.selectedNotificationOptions})
                .then().catch(error => {
                    this.$q.notify('Something went wrong.')
                })
            },
            getNotificationSettings(){
                axios.get('/api/notification-settings/' + window.user.id).then(response => {
                    this.selectedNotificationOptions = response.data
                }).catch(error => {
                    this.$q.notify('Something went wrong.')
                })
            }
        }
    }
</script>

<style scoped>
    .content {
        position: relative;
        padding-bottom: 70px;
    }

    .header {
        width: 100%;
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbb;
        margin-bottom: 10px;
    }
</style>