<template>
    <QPage padding>
        <div class="container">
            <div class="field">
                <QField :error="!!errors.job_id" :error-label="errors.job_id || ''">
                    <QSelect
                        v-model="job_id"
                        float-label="Job"
                        :options="jobs"
                    />
                </QField>
            </div>

            <div class="field expression-field">
                <QField :error="!!errors.expression" :error-label="errors.expression || ''">
                    <QInput float-label="Expression" v-model="expression"/>
                </QField>

                <span class="preview" v-text="expressionHuman"/>
            </div>

            <div class="field">
                <QField :error="!!errors.valid_from" :error-label="errors.valid_from || ''">
                    <QDatetime
                        float-label="Valid from"
                        :first-day-of-week="1"
                        v-model="valid_from"
                        format="YYYY-MM-DD"
                        :format24h="true"
                        :modal="true"
                        type="date"
                    />
                </QField>
            </div>

            <div class="field">
                <QField :error="!!errors.valid_to" :error-label="errors.valid_to || ''">
                    <QDatetime
                        :first-day-of-week="1"
                        float-label="Valid to"
                        format="YYYY-MM-DD"
                        v-model="valid_to"
                        :format24h="true"
                        :clearable="true"
                        :modal="true"
                        type="date"
                    />
                </QField>
            </div>

            <div class="button-group">
                <QBtn
                    v-if="this.id"
                    label="Delete"
                    color="negative"
                    @click="deleteSchedule"
                />
                <QBtn
                    label="Save"
                    color="primary"
                    :loading="loading"
                    @click="submit"
                />
            </div>
        </div>
    </QPage>
</template>

<script>
    import cronstrue from 'cronstrue'
    import moment from 'moment'

    export default {
        props: ['id'],

        data () {
            return {
                job_id: null,
                jobs: [],
                expression: '* * * * *',
                valid_from: moment().format('YYYY-MM-DD'),
                valid_to: null,
                errors: {
                    job_id: false,
                    expression: false,
                    valid_from: false,
                    valid_to: false
                },
                loading: false
            }
        },

        computed: {
            expressionHuman () {
                try {
                    return cronstrue.toString(this.expression)
                } catch (e) {
                    return null
                }
            }
        },

        methods: {
            submit () {
                if (!this.validate()) {
                    return
                }

                this.loading = true
                const method = this.id ? 'PUT' : 'POST'
                const url = this.id ? route('schedules.update', this.id) : route('schedules.store')
                const expression = this.expression.split(' ')
                const data = {
                    cron_job_id: this.job_id,
                    min: expression[0],
                    hour: expression[1],
                    day_of_month: expression[2],
                    month: expression[3],
                    day_of_week: expression[4],
                    valid_from: this.valid_from.match(/\d{4}-\d{2}-\d{2}/)[0],
                    valid_to: this.valid_to ? this.valid_to.match(/\d{4}-\d{2}-\d{2}/)[0] : null,
                }
                axios({ method, url, data })
                .then(() => {
                    const action = this.id ? 'updated' : 'created'
                    this.$q.notify({
                        message: 'Schedule was ' + action + ' successfully',
                        type: 'positive',
                        icon: 'done',
                        position: 'bottom-right'
                    })

                    this.$router.replace('/jobs/' + this.job_id)
                })
                .catch(error => {
                    this.$q.dialog({
                        title: 'Whoops',
                        message: 'We had some trouble saving..'
                    })
                    this.loading = false
                })
            },
            validate () {
                this.errors = {
                    expression: this.expressionHuman === null ? 'Expression is not valid' : false,
                    job_id: this.job_id === null ? 'Job is required' : false,
                }

                return Object.values(this.errors).filter(field => field !== false).length === 0
            },
            deleteSchedule () {
                axios.delete(route('schedules.destroy', this.id))
                .then(() => {
                    this.$q.notify({
                        message: 'Schedule was deleted successfully',
                        type: 'positive',
                        icon: 'done',
                        position: 'bottom-right'
                    })

                    this.$router.replace('/jobs/' + this.job_id)
                })
            }
        },

        mounted () {
            if (this.id) {
                axios.get(route('schedules.show', this.id))
                .then(response => {
                    const schedule = response.data
                    this.job_id = schedule.cron_job_id
                    this.valid_to = schedule.valid_to
                    this.valid_from = schedule.valid_from
                    this.expression = `${schedule.min} ${schedule.hour} ${schedule.day_of_month} ${schedule.month} ${schedule.day_of_week}`
                })
            }

            axios.get(route('jobs.index'))
            .then(response => {
                this.jobs = response.data.map(job => {
                    return { label: job.name, value: job.id }
                })
                this.job_id = parseInt((window.location.search.match(/job_id=(\d+)/) || [])[1]) || this.job_id
            })
        }
    }
</script>

<style lang="scss">
    .button-group {
        text-align: right;
    }

    .expression-field {
        display: flex;
        align-items: center;
    }

    .q-field {
        width: 100%;
    }

    .preview {
        max-width: 300px;
        width: 100%;
        background-color: #027ae3;
        text-align: center;
        margin-left: 10px;
        padding: 10px;
        color: #fff;
    }
</style>
