<template>
    <QPage padding class="docs-table">
        <QTable
            title="Schedules List"
            :data="schedules"
            :columns="columns"
            row-key="id"
            :pagination.sync="serverPagination"
            :loading="loading"
            :filter="filter"
            @request="request"
            :rows-per-page-options="[10, 20, 50]">

            <QTd slot="body-cell-active"
                 slot-scope="props"
                 :props="props">
                {{formatActiveSchedule(props.row)}}
            </QTd>

            <QTd slot="body-cell-action" slot-scope="props" :props="props">
                <QBtn-group>
                    <QBtn icon="list" color="primary" @click="$router.push('/schedules/' + props.value)"/>
                    <QBtn icon="edit" color="primary" @click="$router.push('/schedules/' + props.value + '/edit')"/>
                    <QBtn icon="delete" color="primary" @click="deleteJob(props.value)"/>
                </QBtn-group>
            </QTd>
            <template slot="top-right" slot-scope="props">
                <QSearch v-model="filter" style="margin-right: 15px;"/>
            </template>
        </QTable>
        <QBtn
            round
            color="primary"
            @click="$router.push('/schedules/create')"
            class="fixed"
            icon="add"
            style="right: 18px; bottom: 18px"
        />
    </QPage>
</template>

<script>
    import moment from 'moment'

    export default {
        data () {
            return {
                schedules: [],
                filter: '',
                loading: false,
                serverPagination: {
                    page: 1,
                    rowsNumber: null,
                    rowsPerPage: 20
                },
                columns: [
                    { label: 'Id', field: 'id', align: 'left', sortable: true },
                    { label: 'Job', field: row => row.job.name, align: 'left', sortable: true },
                    { label: 'Crontab', field: 'expression', align: 'left', sortable: true },
                    { label: 'Valid From', field: 'valid_from', align: 'left', sortable: true },
                    { name: 'active', label: 'Active', field: row => row, sortable: true },
                    { name: 'action', label: 'Action', field: row => row.id, },
                ],
            }
        },
        mounted () {
            this.request({
                    pagination: this.serverPagination,
                    filter: this.filter
                }
            )
        },
        methods: {
            request ({ pagination, filter }) {
                pagination.per_page = pagination.rowsPerPage
                pagination.filter = filter
                axios.get('/api/schedules/search', { params: pagination }).then(response => {
                    this.schedules = response.data.data
                    this.serverPagination = pagination
                    this.serverPagination.rowsNumber = response.data.total
                    this.loading = false
                })
                .catch(error => {
                    this.loading = false
                    // todo: add error handling
                })
            },
            formatActiveSchedule (schedule) {
                return schedule.valid_to < moment.now ? "No" : "Yes";
            },
            deleteJob (schedule_id) {
                this.$q.dialog({
                    title: 'Delete Schedule',
                    message: 'You\'re about to delete a job, do you want to continue?',
                    ok: 'Agree',
                    cancel: 'Cancel'
                }).then(() => {
                    axios.delete('/api/schedules/' + schedule_id).then(response => {
                        this.request({
                                pagination: this.serverPagination,
                                filter: this.filter
                            }
                        )
                        this.$q.notify('Schedule deleted!')
                    }).catch(error => {
                        this.$q.notify('Something went wrong.')
                    })

                }).catch(() => {

                })
            }
        }
    }
</script>