<template>
    <QLayout view="hHr LpR lFf">
        <QLayoutHeader>
            <QToolbar>
                <QToolbarTitle>CronHub</QToolbarTitle>

                <QTabs align="right">
                    <QRouteTab slot="title" to="/" label="Dashboard" />
                    <QRouteTab slot="title" to="/jobs" label="Jobs" />
                    <QRouteTab slot="title" to="/schedules" label="Schedules" />
                    <QRouteTab slot="title" to="/logs" label="Logs" />
                    <QRouteTab slot="title" to="/profile" icon="notification_important" />
                    <QTab slot="title" icon="exit_to_app" @click="logout" />
                </QTabs>
            </QToolbar>
        </QLayoutHeader>

        <QPageContainer>
            <router-view></router-view>
        </QPageContainer>
    </QLayout>
</template>


<script>
    export default {
        data () {
            return {}
        },

        methods: {
            logout() {
                window.location.href = '/logout'
            }
        }
    }
</script>
