<template>
    <QLayout view="hHr LpR lFf">
        <QLayoutHeader>
            <QToolbar>
                <QToolbarTitle>CronHub</QToolbarTitle>
            </QToolbar>
        </QLayoutHeader>

        <QPageContainer>
            <div class="container container--small container--center">
                <form @submit.prevent="submit">
                    <div class="field">
                        <QField :error="!!error">
                            <QInput v-model="email" stackLabel="Email" />
                        </QField>
                    </div>

                    <div class="field">
                        <QField :error="!!error" :error-label="error || ''">
                            <QInput v-model="password" type="password" stackLabel="Password" />
                        </QField>
                    </div>

                    <QBtn
                        class="submit-button"
                        label="Gem"
                        color="primary"
                        type="submit"
                        :loading="loading"
                    />
                </form>
            </div>
        </QPageContainer>
    </QLayout>
</template>


<script>
    export default {
        data () {
            return {
                email: '',
                password: '',
                loading: false,
                error: false
            }
        },

        methods: {
            submit() {
                this.loading = true
                this.error = false
                const data = {
                    email: this.email,
                    password: this.password
                }

                axios.post(route('login'), data)
                    .then(response => window.location.href = response.data.url)
                    .catch(error => {
                        this.loading = false
                        this.error = error.response.data.message
                    })
            }
        }
    }
</script>
