<template>
    <QPage padding>
        <QCard style="margin-bottom: 30px;">
            <QCardTitle>
                Cron Schema:
                <div slot="right" class="row items-center">
                    <portal-target name="schedule-navigation"></portal-target>

                    <QBtn-toggle
                        v-model="selectedView"
                        toggle-color="primary"
                        :options="toggleBtnOptions"/>
                </div>
            </QCardTitle>
            <QCardMain>
                <ScheduleDaily v-if="selectedView === 'daily'"/>
                <ScheduleWeekly v-if="selectedView === 'weekly'"/>
            </QCardMain>

        </QCard>
        <QCard style="margin-bottom: 30px;">
            <QCardTitle>
                Currently Running Jobs:
            </QCardTitle>
            <QCardMain>
                <QList>
                    <QItem v-for="currentlyRunningJob in currentlyRunningJobs" :key="currentlyRunningJob.id">
                        <QItemSide left>
                            <QItemTile style="width: 150px; overflow: auto;">
                                {{currentlyRunningJob.job.name}}
                            </QItemTile>
                        </QItemSide>
                        <QItemMain class="text-center" style="padding: 0 20px;">
                            <QItemTile>

                            </QItemTile>
                        </QItemMain>
                        <QItemSide right>
                            <QBtn icon="list" color="primary"
                                  @click="$router.push('/logs/' + currentlyRunningJob.logs[currentlyRunningJob.logs.length - 1].id)"/>
                            <!-- todo: add the terminate functionality -->
                            <QBtn color="negative" icon="cancel"></QBtn>
                        </QItemSide>
                    </QItem>
                </QList>
            </QCardMain>
        </QCard>
        <div class="row gutter-md">
            <div class="col-md-6">
                <QCard>
                    <QCardTitle>
                        Upcoming Jobs:
                    </QCardTitle>
                    <QCardMain>
                        <QList>
                            <QItem v-for="upcomingJob in upcomingJobs" :key="upcomingJob.id">
                                <QItemSide left>
                                    {{ upcomingJob.id }}
                                </QItemSide>
                                <QItemMain>
                                    <QItemTile>
                                        {{ upcomingJob.job.name }}
                                    </QItemTile>
                                    <QItemTile>
                                        <span style="color: #2A2A2A; font-size:12px;">Running at: {{ upcomingJob.next_run_time.date }}</span>
                                    </QItemTile>
                                </QItemMain>
                                <QItemSide right>
                                    <QBtn icon="edit" color="primary"
                                          @click="$router.push('/jobs/' + upcomingJob.id + '/edit')"/>
                                </QItemSide>
                            </QItem>
                        </QList>
                    </QCardMain>
                </QCard>
            </div>
            <div class="col-md-6">
                <QCard>
                    <QCardTitle>
                        Most Recent Jobs:
                    </QCardTitle>
                    <QCardMain>
                        <QList>
                            <QItem v-for="mostRecentLog in mostRecentLogs" :key="mostRecentLog.id">
                                <QItemSide left>
                                    {{ mostRecentLog.id }}
                                </QItemSide>
                                <QItemMain>
                                    <QItemTile>
                                        {{ mostRecentLog.job.name }}
                                    </QItemTile>
                                    <QItemTile>
                                        <span style="color: #2A2A2A; font-size:12px;">Finished at: {{ mostRecentLog.finished_at }}</span>
                                    </QItemTile>
                                </QItemMain>
                                <QItemSide right>
                                    <QBtn icon="list" color="primary"
                                          @click="$router.push('/logs/' + mostRecentLog.id)"/>
                                </QItemSide>
                            </QItem>
                            <QItemSeparator/>
                        </QList>
                    </QCardMain>
                </QCard>
            </div>
        </div>
    </QPage>
</template>

<script>
    import ScheduleDaily from './ScheduleDaily'
    import ScheduleWeekly from './ScheduleWeekly'

    export default {
        components: { ScheduleDaily, ScheduleWeekly },

        data () {
            return {
                currentlyRunningJobs: [],
                mostRecentLogs: [],
                upcomingJobs: [],
                toggleBtnOptions: [
                    { label: 'Weekly View', value: 'weekly' },
                    { label: 'Daily View', value: 'daily' },
                ],
                selectedView: 'daily',
            }
        },
        mounted () {
            this.getCurrentlyRunning();
            this.getMostRecent();
            this.getUpcoming();
        },
        methods: {
            getCurrentlyRunning () {
                axios.get('/api/dashboard/currently-running').then(response => {
                    this.currentlyRunningJobs = response.data
                }).catch(error => {
                    this.$q.notify('Something went wrong.')
                })
            },
            getMostRecent () {
                axios.get('/api/dashboard/most-recent').then(response => {
                    this.mostRecentLogs = response.data
                }).catch(error => {
                    this.$q.notify('Something went wrong.')
                })
            },
            getUpcoming () {
                axios.get('/api/dashboard/upcoming').then(response => {
                    this.upcomingJobs = response.data
                }).catch(error => {
                    this.$q.notify('Something went wrong.')
                })
            }
        }
    }
</script>

<style scoped>
    .schema-container {
        width: 100%;
        height: 370px;
        border: 1px solid #000;
    }

    .q-card {
        background: #fff;
    }
</style>
