<template>
    <div class="schema-container">
        <q-popover v-model="showingPopover" :touch-position="true">
            <template v-if="selectedJob !== null">
                <div class="popover-field">
                    <div class="popover-field__header">Job</div>

                    {{ 'log' in selectedJob ? selectedJob['log'].job.name : selectedJob['job'].name }}
                </div>

                <div class="popover-field">
                    <div class="popover-field__header">{{ 'log' in selectedJob ? 'Ran at' : 'Running at' }}</div>

                    {{ selectedJob['date'] }}
                </div>

                <template v-if="'log' in selectedJob">
                    <div class="popover-field">
                        <div class="popover-field__header">
                            Exit code

                            <QIcon v-if="selectedJob['log'].exit_code == 0" color="positive"
                                   name="check_circle_outline"/>
                            <QIcon v-if="selectedJob['log'].exit_code > 0" color="negative" name="error_outline"/>
                            <QIcon v-if="selectedJob['log'].exit_code == null" color="warning" name="info_outline"/>
                        </div>

                        {{ selectedJob['log'].exit_code }}
                    </div>

                    <div class="popover-field" style="text-align: center">
                        <router-link :to="'/logs/' + selectedJob['log'].id">Go to log</router-link>
                    </div>

                    <div class="popover-field" style="text-align: center">
                        <router-link :to="'/jobs/' + selectedJob['log'].job.id">Go to job</router-link>
                    </div>
                </template>


                <div v-else class="popover-field" style="text-align: center">
                    <router-link :to="'/jobs/' + selectedJob['job'].id">Go to job</router-link>
                </div>
            </template>
        </q-popover>
        <portal to="schedule-navigation">
            <QBtnGroup class="schedule-navigation">
                <QBtn color="primary" label="Previous" @click="selectedWeek--" :disabled="selectedWeek === 1"/>
                <q-select
                        v-model="selectedWeek"
                        :options="weeks"
                        @input="fetchSchedule"
                />
                <QBtn color="primary" label="Next" @click="selectedWeek++" :disable="selectedWeek === 53"/>
            </QBtnGroup>
        </portal>

        <QRange
            class="range-slider"
            v-model="rangeValues"
            :left-label-value="`${days[rangeValues.min-1].label}`"
            :right-label-value="`${days[rangeValues.max-1].label}`"
            :min="1"
            :max="7"
            :label-always="true"
            :markers="true"
            :snap="true"
        />

        <div class="weekly-view">
            <div
                v-for="(weekday, index) in weekdays"
                class="weekly-view__day"
                :key="index">

                <div class="weekly-view__day-header">
                    {{ weekday.label}}
                </div>

                <div class="weekly-view__day-content">
                    <div v-for="job in jobsForDate(jobs, weekdayDate(weekday.value))"
                         class="job"
                         :class="getJobClasses(job)"
                         @click="selectJob(job)">
                        <div v-if="'log' in job">{{ job['log'].id }}</div>
                        <div v-else>{{ job['job'].id }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        data() {
            return {
                jobs: [],
                selectedWeek: moment().week(),
                showingPopover: false,
                selectedJob: null,
                rangeValues: {min: 1, max: 7},
                days: [
                    {label: 'Monday', value: 1},
                    {label: 'Tuesday', value: 2},
                    {label: 'Wednesday', value: 3},
                    {label: 'Thursday', value: 4},
                    {label: 'Friday', value: 5},
                    {label: 'Saturday', value: 6},
                    {label: 'Sunday', value: 7}
                ]
            }
        },
        computed: {
            weeks() {
                return Array.apply(null, {length: 53}).map(Number.call, Number).map(function (number) {
                    let weekNumber = number + 1
                    let monday = moment().week(weekNumber).weekday(1).format('YYYY-MM-DD')
                    let sunday = moment().week(weekNumber).weekday(7).format('YYYY-MM-DD')
                    return {
                        label: 'Week ' + (weekNumber) + ' (' + monday + ' - ' + sunday + ')',
                        value: weekNumber
                    }
                })
            },
            weekdays() {
                return this.days.filter(day => {
                    return day.value >= this.rangeValues.min && day.value <= this.rangeValues.max
                })

            }
        },
        methods: {
            async fetchSchedule() {
                const data = {
                    params: {
                        date: moment().week(this.selectedWeek).weekday(1).format('YYYY-MM-DD'),
                        view: 'week'
                    }
                }

                this.jobs = (await axios.get(route('dashboard.schedule'), data)).data
            },
            weekdayDate(weekdayNumber) {
                return moment().week(this.selectedWeek).weekday(weekdayNumber).format('YYYY-MM-DD')
            },
            jobsForDate(jobs, date) {
                return jobs.filter(function (job) {
                    if (job.date.substr(0, 10) === date) {
                        if (job !== null && job !== undefined) {
                            return job
                        }
                    }
                })
            },
            getJobClasses(job) {
                return {
                    'job--log': 'log' in job,
                    'job--schedule': 'job' in job,
                    'job--success': 'log' in job && job['log'].exit_code == 0,
                    'job--fail': 'log' in job && job['log'].exit_code > 0,
                }
            },
            selectJob(job) {
                this.selectedJob = job
            },
        },
        watch: {
            selectedWeek() {
                this.fetchSchedule()
            }
        },

        mounted() {
            this.fetchSchedule()
        }
    }
</script>

<style lang="scss">
    .weekly-view {
        display: flex;
        overflow-y: auto;
        height: 300px;
        cursor: default !important;

        &__day {
            width: 100%;
            height: 100%;
            border-right: 1px solid #ddd;

            &:last-child {
                border-right: none;
            }
        }

        &__day-header {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ddd;
            color: #333;
            height: 40px;
        }
    }

    .job {
        color: #fff;
        background: #bbb;
        border-top: 1px solid #fff;
        padding: 10px;
        text-align: center;
        user-select: none;
        cursor: pointer;

        &--success {
            background: var(--q-color-positive);
        }

        &--fail {
            background: var(--q-color-negative);
        }
    }

    .schedule-navigation {
        margin-right: 10px;

        .q-if-inner {
            padding-left: 5px;
        }
    }

    .popover-field {
        padding: 10px;
        border-bottom: 1px solid #ddd;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .range-slider {
        width: calc(100% - 20px);
        margin: auto;
    }
</style>
