<template>
    <div class="schema-container">
        <q-popover v-model="showingPopover" :touch-position="true">
            <template v-if="selectedJob !== null">
                <div class="popover-field">
                    <div class="popover-field__header">Job</div>

                    {{ 'log' in selectedJob ? selectedJob['log'].job.name : selectedJob['job'].name }}
                </div>

                <div class="popover-field">
                    <div class="popover-field__header">{{ 'log' in selectedJob ? 'Ran at' : 'Running at' }}</div>

                    {{ selectedJob['date'] }}
                </div>

                <template v-if="'log' in selectedJob">
                    <div class="popover-field">
                        <div class="popover-field__header">
                            Exit code

                            <QIcon v-if="selectedJob['log'].exit_code == 0" color="positive" name="check_circle_outline" />
                            <QIcon v-if="selectedJob['log'].exit_code > 0" color="negative" name="error_outline" />
                            <QIcon v-if="selectedJob['log'].exit_code == null" color="warning" name="info_outline" />
                        </div>

                        {{ selectedJob['log'].exit_code }}
                    </div>

                    <div class="popover-field" style="text-align: center">
                        <router-link :to="'/logs/' + selectedJob['log'].id">Go to log</router-link>
                    </div>

                    <div class="popover-field" style="text-align: center">
                        <router-link :to="'/jobs/' + selectedJob['log'].job.id">Go to job</router-link>
                    </div>
                </template>


                <div v-else class="popover-field" style="text-align: center">
                    <router-link :to="'/jobs/' + selectedJob['job'].id">Go to job</router-link>
                </div>
            </template>
        </q-popover>

        <portal to="schedule-navigation">
            <QBtnGroup class="schedule-navigation">
                <QBtn color="primary" label="Previous" @click="previousDay()" />
                <QBtn>
                    <QDatetime
                        class="date-field"
                        :first-day-of-week="1"
                        format="YYYY-MM-DD"
                        v-model="date"
                        :modal="true"
                        type="date"
                    />
                </QBtn> <!--:label="date.format('YYYY-MM-DD')" />-->
                <QBtn color="primary" label="Next" @click="nextDay()" />
            </QBtnGroup>
        </portal>

        <QRange
            class="range-slider"
            v-model="rangeValues"
            :min="0"
            :max="23"
            :label-always="true"
            :markers="true"
            :snap="true"
        />

        <div class="daily-view">
            <div
                v-for="(hour, index) in hours"
                class="daily-view__hour"
                :key="index"
            >
                <div class="daily-view__hour-header">{{ hour }}</div>

                <div class="daily-view__hour-content">
                    <div
                        v-for="job in jobs[hour]"
                        class="job"
                        :class="getJobClasses(job)"
                        @click="selectJob(job)"
                    >
                        <div v-if="'log' in job">{{ job['log'].job.id }}</div>
                        <div v-else>{{ job['job'].id }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        data() {
            return {
                jobs: [],
                date: new Date(),
                showingPopover: false,
                selectedJob: null,
                rangeValues: { min: 0, max: 23 }
            }
        },

        computed: {
            hours() {
                return Array.from({ length: this.rangeValues.max - this.rangeValues.min+1 }, (_, i) => i + this.rangeValues.min)
            }
        },

        methods: {
            async fetchSchedule() {
                const data = { params: { date: moment(this.date).format('YYYY-MM-DD') } }

                this.jobs = (await axios.get(route('dashboard.schedule'), data)).data
            },
            getJobClasses(job) {
                return {
                    'job--log': 'log' in job,
                    'job--schedule': 'job' in job,
                    'job--success': 'log' in job && job['log'].exit_code == 0,
                    'job--fail': 'log' in job && job['log'].exit_code > 0,
                }
            },
            selectJob(job) {
                this.selectedJob = job
            },
            previousDay() {
                this.date = moment(this.date).subtract(1, 'day').toDate()
            },
            nextDay() {
                this.date = moment(this.date).add(1, 'day').toDate()
            }
        },

        watch: {
            date() {
                this.fetchSchedule()
            }
        },

        mounted() {
            this.fetchSchedule()
        }
    }
</script>

<style lang="scss">
    .daily-view {
        display: flex;
        overflow-y: auto;
        height: 300px;
        cursor: default !important;

        &__hour {
            width: 100%;
            height: 100%;
            border-right: 1px solid #ddd;

            &:last-child {
                border-right: none;
            }
        }

        &__hour-header {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ddd;
            color: #333;
            height: 40px;
        }
    }

    .job {
        color: #fff;
        background: #bbb;
        border-top: 1px solid #fff;
        padding: 10px;
        text-align: center;
        user-select: none;
        cursor: pointer;

        &--success {
            background: var(--q-color-positive);
        }

        &--fail {
            background: var(--q-color-negative);
        }
    }

    .schedule-navigation {
        margin-right: 10px;

        .q-datetime-input {
            padding-bottom: 0;
            display: flex;
            align-items: center;

            &:before {
                display: none;
            }

            .q-icon {
                display: none;
            }
        }
    }

    .popover-field {
        padding: 10px;
        border-bottom: 1px solid #ddd;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .range-slider {
        width: calc(100% - 20px);
        margin: auto;
    }
</style>
