// Variables
@import "variables";

body {
    background: #eee !important;
}

.container {
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;

    &--center {
        margin: 50px auto;
    }

    &--small {
        max-width: 500px;
    }
}

.field {
    margin-bottom: 20px;

    &__label {
        display: block;
        margin-bottom: 5px;
    }

    &__value {
        display: flex;
        align-items: center;

        i {
            margin-right: 5px;
        }
    }
}

.submit-button {
    display: block;
    margin-left: auto;
}


a {
    text-decoration: none;
    color: #027be3;
}

.field-grid {
    display: grid;
    grid-template-columns: 50% 50%;

    &__field:nth-child(even) {
        text-align: right;
    }
}
.q-card, .q-table-container{
    background-color: #fff;
}
