<template>
    <QPage padding class="docs-table">
        <QCard style="margin-bottom: 15px;">
            <QCardTitle>
                Search
            </QCardTitle>
            <QCardMain>
                <QCard style="margin-bottom: 15px;">
                    <QCardTitle>
                        Filters
                    </QCardTitle>
                    <QCardMain>
                        <div class="row gutter-md">
                            <div class="col-6">
                                <QSelect
                                    v-model="selectedJobs"
                                    :options="jobs"
                                    :filter="true"
                                    :multiple="true"
                                    :clearable="true"
                                    float-label="Jobs"
                                />
                            </div>
                            <div class="col-6">
                                <QSelect
                                    v-model="selectedSchedules"
                                    :options="schedules"
                                    :filter="true"
                                    :multiple="true"
                                    :clearable="true"
                                    float-label="Schedules"
                                />
                            </div>
                        </div>
                    </QCardMain>
                </QCard>
                <QCard style="margin-bottom: 15px;">
                    <QCardTitle>
                        Date
                    </QCardTitle>
                    <QCardMain>
                        <div class="row gutter-md">
                            <div class="col-6">
                                <q-datetime
                                    v-model="startDateFilter"
                                    type="datetime"
                                    :format24h="true"
                                    :clearable="true"
                                />
                            </div>
                            <div class="col-6">
                                <q-datetime
                                    v-model="endDateFilter"
                                    type="datetime"
                                    :format24h="true"
                                    :clearable="true"
                                />
                            </div>
                        </div>
                    </QCardMain>
                </QCard>
                <QBtn
                    icon="search"
                    color="primary"
                    label="Search"
                    class="center-block"
                    @click="search"
                    style="margin: auto; display:block;"
                />
            </QCardMain>
        </QCard>
        <QTable
            ref="table"
            title="Table Title"
            :data="logs"
            :columns="columns"
            row-key="id"
            :pagination.sync="serverPagination"
            :loading="loading"
            @request="request"
            :rows-per-page-options="[10, 20, 50, 100, 500, 1000]"
        >

            /* custom cells */
            <QTd slot="body-cell-duration" slot-scope="props" :props="props">
                {{ formatDuration(props.row)}}
            </QTd>
            <QTd slot="body-cell-error" slot-scope="props" :props="props">
                {{ formatError(props.row)}}
            </QTd>
            <QTd slot="body-cell-action" slot-scope="props" :props="props">
                <QBtn icon="list" color="primary" @click="$router.push('/logs/' + props.value)"/>
            </QTd>

            /* search */
            <!--<template slot="top-right" slot-scope="props">
                <q-search hide-underline v-model="filter"/>
            </template>-->
        </QTable>
    </QPage>

</template>

<script>
    import moment from 'moment'

    export default {
        name: "",
        data () {
            return {
                startDateFilter: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()).getTime(),
                endDateFilter: Date.now(),
                logs: [],
                jobs: [],
                selectedJobs: [],
                schedules: [],
                selectedSchedules: [],
                loading: false,
                serverPagination: {
                    page: 1,
                    rowsNumber: null,
                    rowsPerPage: 20
                },
                columns: [
                    { label: 'Job', field: row => row.job.name, align: 'left', sortable: true },
                    { label: 'Bootstrap', field: row => row.job.bootstrap.name, align: 'left', sortable: true },
                    { name: 'duration', label: 'Duration', field: row => row, sortable: true },
                    { name: 'error', label: 'Error', field: row => row, sortable: true },
                    { label: 'Restrict', field: 'restrict_type', sortable: true },
                    { label: 'Type', field: 'ib_type', sortable: true },
                    { name: 'action', label: 'Action', field: row => row.id, },
                ]
            }
        },
        mounted () {
            this.getSchedules()
            this.getJobs()
            this.search()
        },
        methods: {
            search () {
                this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                    }
                )
            },
            request ({ pagination }) {
                pagination.filter = {
                    "jobs": this.selectedJobs,
                    "schedules": this.selectedSchedules,
                    "startDateFilter": this.startDateFilter,
                    "endDateFilter": this.endDateFilter
                }
                pagination.per_page = pagination.rowsPerPage

                axios.get('/api/logs/search', { params: pagination }).then(response => {
                    this.logs = response.data.data
                    this.serverPagination = pagination
                    this.serverPagination.rowsNumber = response.data.total
                    this.loading = false
                })
                .catch(error => {
                    this.loading = false
                    // todo: add error handling
                })

            },
            getJobs () {
                axios.get('/api/jobs',).then(response => {
                    this.jobs = response.data.map((job) => {
                        return { 'label': job.name, 'value': job.id }
                    })
                })
                .catch(error => {
                    // todo: add error handling
                })
            },
            getSchedules () {
                axios.get('/api/schedules',).then(response => {
                    this.schedules = response.data.map((schedules) => {
                        return { 'label': '' + schedules.id, 'value': schedules.id }
                    })
                })
                .catch(error => {
                    // todo: add error handling
                })
            },
            formatDuration (row) {
                let start = moment(row.created_at);
                let updated = moment(row.updated_at);
                let diff = updated.diff(start);
                return moment.utc(diff).format("HH:mm:ss")
            },
            formatError (row) {
                return row.exit_code === 0 && !row.stderr ? "No" : "Yes";
            }
        }
    }
</script>

<style scoped>

</style>
