<template>
    <QPage padding>
        <div class="container">
            <div v-if="log" class="field-grid">
                <div class="field-grid__field field">
                    <div class="field__label">Job</div>
                    <router-link :to="'/jobs/' + log.job.id">{{ log.job.name }}</router-link>
                </div>

                <div class="field-grid__field field">
                    <div class="field__label">Started at</div>
                    <span>{{ log.created_at }}</span>
                </div>

                <div class="field-grid__field field">
                    <div class="field__label">Exit code</div>
                    <span class="field__value">
                    <QIcon v-if="log.exit_code == 0" color="positive" name="check_circle_outline"/>
                    <QIcon v-if="log.exit_code > 0" color="negative" name="error_outline"/>
                    <QIcon v-if="log.exit_code == null" color="warning" name="info_outline"/>

                    <span v-if="log.exit_code == 143">143 - Terminatted</span>
                    <span v-else-if="log.exit_code === null">Waiting for job to finish</span>
                    <span v-else>{{ log.exit_code }}</span>
                </span>
                </div>

                <div class="field-grid__field field">
                    <div class="field__label">Finished at</div>

                    <span v-if="log.finished_at">{{ log.finished_at }}</span>
                    <span v-else>Job has not finished yet</span>
                </div>
            </div>

            <div class="field" style="position: relative;">
                <div class="field__label">Output</div>

                <QBtn
                    v-if="log && log.exit_code == null"
                    class="options-button"
                    flat
                    icon="more_vert"
                    @click="optionsClicked"
                />

                <div class="output" ref="output" v-html="output"/>
            </div>
        </div>
    </QPage>
</template>

<script>
    export default {
        props: ['id'],

        data () {
            return {
                log: null
            }
        },

        computed: {
            output () {
                if (!this.log) return ''

                return (this.log.stdout + '\n' + (this.log.stderr || '')).replace(/(\r\n|\n\r|\r|\n)/g, '<br />' + '$1')
            }
        },

        methods: {
            optionsClicked () {
                this.$q.actionSheet({
                    title: 'Options',
                    actions: [{
                        label: 'Terminate job',
                        color: 'negative',
                        icon: 'error_outline',
                        handler: this.terminateJob
                    }]
                })
            },
            terminateJob () {
                this.$q.dialog({
                    title: 'Are you sure?',
                    message: 'Job will not finish',
                    ok: 'Yes, terminate',
                    cancel: 'Oh dear god no!'
                }).then(() => {
                    axios.post(route('logs.terminate', this.id))
                })
            }
        },

        mounted () {
            axios.get(route('logs.show', this.id))
            .then(response => {
                this.log = response.data
            })

            Echo.channel('cronlog')
            .listen(`.CronLog.Updated`, e => {
                if (e.model.id != this.id) {
                    return
                }

                this.log = Object.assign({}, this.log, e.model)

                this.$nextTick(() => {
                    this.$refs.output.scrollTop = this.$refs.output.scrollHeight
                })
            });
        }
    }
</script>

<style lang="scss">
    .output {
        background: #333;
        color: #FFF;
        line-height: 23px;
        padding: 10px;
        height: 400px;
        overflow-y: auto;
    }

    .options-button {
        color: #FFF;
        padding: 0;
        position: absolute;
        right: 10px;
        margin-top: 10px;
    }
</style>
