<template>
    <QPage padding>
        <div class="container">
            <div class="field">
                <QField :error="!!errors.bootstrap_id" :error-label="errors.bootstrap_id || ''">
                    <QSelect
                        v-model="bootstrap_id"
                        float-label="Bootstrap"
                        :options="bootstraps"
                    />
                </QField>
            </div>

            <div class="field">
                <QField :error="!!errors.name" :error-label="errors.name || ''">
                    <QInput float-label="Name" v-model="name"/>
                </QField>
            </div>

            <div class="field">
                <QInput float-label="Description" type="textarea" v-model="description"/>
            </div>

            <div class="field">
                <QField :error="!!errors.run_time" :error-label="errors.run_time || ''">
                    <QInput float-label="Expected running time" v-model="run_time" type="number"/>
                </QField>
            </div>

            <div class="field">
                <QField :error="!!errors.command" :error-label="errors.command || ''">
                    <label class="field__label">Command</label>
                    <div ref="editor"></div>
                </QField>
            </div>

            <QBtn
                class="submit-button"
                label="Gem"
                color="primary"
                :loading="loading"
                @click="submit"
            />
        </div>
    </QPage>
</template>

<script>
    import CodeMirror from 'codemirror'

    import 'codemirror/mode/shell/shell'
    import 'codemirror/lib/codemirror.css'
    import 'codemirror/theme/monokai.css'

    export default {
        props: ['id'],

        data () {
            return {
                name: '',
                description: '',
                bootstrap_id: null,
                bootstraps: [],
                run_time: 0,
                errors: {
                    name: false,
                    bootstrap_id: false,
                    command: false,
                    run_time: false
                },
                editor: null,
                loading: false
            }
        },

        methods: {
            submit () {
                if (!this.validate()) {
                    return
                }

                this.loading = true
                const method = this.id ? 'PUT' : 'POST'
                const url = this.id ? route('jobs.update', this.id) : route('jobs.store')
                const data = {
                    cron_bootstrap_id: this.bootstrap_id,
                    name: this.name,
                    description: this.description,
                    expected_running_time: this.run_time,
                    job: this.editor.getValue()
                }
                axios({ method, url, data })
                .then(response => {
                    const action = this.id ? 'updated' : 'created'
                    this.$q.notify({
                        message: 'Job was ' + action + ' successfully',
                        type: 'positive',
                        icon: 'done',
                        position: 'bottom-right'
                    })

                    this.$router.replace(this.id ? '/jobs' : '/schedules/create?job_id=' + response.data.id)
                })
                .catch(error => {
                    this.$q.dialog({
                        title: 'Whoops',
                        message: 'We had some trouble saving..'
                    })
                    this.loading = false
                })
            },
            validate () {
                this.errors = {
                    name: this.name.length === 0 ? 'Name is required' : false,
                    run_time: this.run_time === null ? 'Running time has to be a number' : false,
                    bootstrap_id: this.bootstrap_id === null ? 'Bootstrap is required' : false,
                    command: this.editor.getValue().length === 0 ? 'Command is required' : false
                }

                return Object.values(this.errors).filter(field => field !== false).length === 0
            }
        },

        mounted () {
            this.editor = CodeMirror(this.$refs.editor, {
                lineNumbers: true,
                mode: "shell",
                viewportMargin: Infinity
            })

            if (this.id) {
                axios.get(route('jobs.show', this.id))
                .then(response => {
                    this.name = response.data.name
                    this.description = response.data.description
                    this.bootstrap_id = response.data.cron_bootstrap_id
                    this.run_time = response.data.expected_running_time
                    this.editor.setValue(response.data.job)
                })
            }

            axios.get(route('bootstraps.index'))
            .then(response => {
                this.bootstraps = response.data.map(bootstrap => {
                    return { label: bootstrap.name, value: bootstrap.id }
                })
            })
        }
    }
</script>
