<template>
    <QPage padding class="docs-table">
        <QTable
            title="Jobs List"
            :data="jobs"
            :columns="columns"
            row-key="id"
            :pagination.sync="serverPagination"
            :loading="loading"
            :filter="filter"
            @request="request"
            :rows-per-page-options="[10, 20, 50, 100, 500, 1000]">
            <QTd slot="body-cell-description"
                 style="max-width: 200px; overflow: scroll;"
                 slot-scope="props"
                 :props="props">
                <div>
                    {{ props.value}}
                </div>
            </QTd>
            <QTd slot="body-cell-active"
                 slot-scope="props"
                 :props="props">
                {{ formatActiveJob(props.row)}}
            </QTd>
            <QTd slot="body-cell-action" slot-scope="props" :props="props">
                <QBtn-group>
                    <QBtn icon="list" color="primary" @click="$router.push('/jobs/' + props.value)"/>
                    <QBtn icon="edit" color="primary" @click="$router.push('/jobs/' + props.value + '/edit')"/>
                    <QBtn icon="delete" color="primary" @click="deleteJob(props.value)"/>
                </QBtn-group>

            </QTd>

            <template slot="top-right" slot-scope="props">
                <QSearch hide-underline v-model="filter"/>
            </template>
        </QTable>
        <QBtn
            round
            color="primary"
            @click="$router.push('/jobs/create')"
            class="fixed"
            icon="add"
            style="right: 18px; bottom: 18px"
        />
    </QPage>
</template>

<script>
    export default {
        data () {
            return {
                jobs: [],
                filter: '',
                loading: false,
                serverPagination: {
                    page: 1,
                    rowsNumber: null,
                    rowsPerPage: 20
                },
                columns: [
                    { label: 'Name', field: 'name', align: 'left', sortable: true },
                    { label: 'Boostrap', field: row => row.bootstrap.name, align: 'left', sortable: true },
                    { name: 'description', label: 'Description', field: 'description', align: 'left', sortable: true },
                    { label: 'Time', field: 'expected_running_time', align: 'left', sortable: true },
                    { name: 'active', label: 'Active', field: row => row, sortable: true },
                    { name: 'action', label: 'Action', field: row => row.id, },
                ],

            }
        },
        mounted () {
            this.request({
                    pagination: this.serverPagination,
                    filter: this.filter
                }
            )
        },
        methods: {
            request ({ pagination, filter }) {
                pagination.per_page = pagination.rowsPerPage
                pagination.filter = filter
                axios.get('/api/jobs/search', { params: pagination }).then(response => {
                    this.jobs = response.data.data
                    this.serverPagination = pagination
                    this.serverPagination.rowsNumber = response.data.total
                    this.loading = false
                })
                .catch(error => {
                    this.loading = false
                    // todo: add error handling
                })
            },
            formatActiveJob (job) {
                let isActive = false
                job.schedules.forEach(function (schedule) {
                    if (schedule.valid_from > schedule.valid_to) {
                        isActive = true;
                    }
                });
                return isActive ? "Yes" : "No";
            },
            deleteJob (job_id) {
                this.$q.dialog({
                    title: 'Delete Job',
                    message: 'You\'re about to delete a job, do you want to continue?',
                    ok: 'Agree',
                    cancel: 'Cancel'
                }).then(() => {
                    axios.delete('/api/jobs/' + job_id).then(response => {
                        this.request({
                                pagination: this.serverPagination,
                                filter: this.filter
                            }
                        )
                        this.$q.notify('Job deleted!')
                    }).catch(error => {
                        this.$q.notify('Something went wrong.')
                    })

                }).catch(() => {

                })
            }
        },
    }
</script>
