<template>
    <QPage padding>
        <div class="container">
            <div v-if="job" class="field-grid">
                <div class="field-grid__field field">
                    <div class="field__label">Job</div>
                    <span v-text="job.name"/>
                </div>

                <div class="field-grid__field field">
                    <QBtn color="primary" label="Run Manually" @click="runManually(job.id)"></QBtn>
                    <QBtn
                        icon="notification_important"
                        :color="subscribed ? 'positive' : 'negative'"
                        @click="toggleSubscription">
                        Subscribe to errors
                    </QBtn>
                </div>

                <div class="field-grid__field field">
                    <div class="field__label">Description</div>
                    <span class="field__value" v-text="job.description"/>
                </div>

                <div class="field-grid__field field">
                    <div class="field__label">Expected running time</div>
                    <span v-text="job.expected_running_time"/>
                </div>
            </div>

            <div v-if="job" class="field">
                <h5 class="header">
                    Schedules
                    <QBtn
                        class="button"
                        rounded
                        icon="add"
                        size="sm"
                        color="positive"
                        @click="$router.push('/schedules/create?job_id=' + id)">
                        Add schedule
                    </QBtn>
                </h5>

                <QTable
                    :data="schedules"
                    :columns="scheduleColumns"
                    :hide-bottom="true"
                    row-key="id">
                    <QTd slot="body-cell-action" slot-scope="props" :props="props">
                        <QBtn round size="sm" icon="list" color="primary"
                              @click="$router.push('/schedules/' + props.value)"/>
                        <QBtn round size="sm" icon="edit" color="primary"
                              @click="$router.push('/schedules/' + props.value + '/edit')"/>
                    </QTd>
                </QTable>
            </div>

            <div v-if="job" class="field">
                <h5 class="header header--no-border">Latest logs</h5>

                <QTable
                    :data="logs"
                    :columns="logColumns"
                    :hide-bottom="true"
                    :pagination="{rowsPerPage: 10}"
                    row-key="id">
                    <QTd slot="body-cell-exit_code" slot-scope="props" :props="props">
                        <div class="field__value">
                            <QIcon v-if="props.value == 0" color="positive" name="check_circle_outline"/>
                            <QIcon v-if="props.value > 0" color="negative" name="error_outline"/>
                            <QIcon v-if="props.value == null" color="warning" name="info_outline"/>
                            {{ props.value }}
                        </div>
                    </QTd>

                    <QTd slot="body-cell-action" slot-scope="props" :props="props">
                        <QBtn round size="sm" icon="list" color="primary"
                              @click="$router.push('/logs/' + props.value)"/>
                    </QTd>
                </QTable>
            </div>
        </div>
    </QPage>
</template>

<script>
    import cronstrue from 'cronstrue'
    import moment from 'moment'

    export default {
        props: ['id'],

        data () {
            return {
                job: null,
                scheduleColumns: [
                    { align: 'left', label: 'Expression', field: 'expression' },
                    { align: 'left', label: 'Expression human', field: 'expression_human' },
                    { align: 'left', label: 'Valid from', field: 'valid_from' },
                    { align: 'left', label: 'Valid to', field: 'valid_to' },
                    { align: 'left', label: 'IB Type', field: 'ib_type' },
                    { name: 'action', align: 'right', label: 'Actions', field: 'id' },
                ],
                logColumns: [
                    { align: 'left', label: 'Start time', field: 'created_at' },
                    { align: 'left', label: 'Duration', field: this.calculateDuration },
                    { name: 'exit_code', align: 'left', label: 'Exit code', field: 'exit_code' },
                    { name: 'action', align: 'right', label: 'Actions', field: 'id' },
                ],
                logs: [],
                subscribed: false
            }
        },

        computed: {
            schedules () {
                if (!this.job) {
                    return []
                }

                return this.job.schedules.map(schedule => {
                    const expression = `${schedule.min} ${schedule.hour} ${schedule.day_of_month} ${schedule.month} ${schedule.day_of_week}`
                    return {
                        id: schedule.id,
                        valid_from: schedule.valid_from,
                        valid_to: schedule.valid_to || 'Infinity and beyond',
                        ib_type: schedule.ib_type || 'Not specified',
                        expression_human: cronstrue.toString(expression),
                        expression
                    }
                })
            }
        },

        methods: {
            runManually(id){
                axios.post(route('jobs.manually', id)).then(response => {
                    this.$q.notify('success')
                }).catch(error => {
                    this.$q.notify('Something went wrong.')
                })
            },
            calculateDuration(row) {
                let start = moment(row.created_at)
                let updated = moment(row.updated_at)
                let diff = updated.diff(start)

                return moment.utc(diff).format("HH:mm:ss")
            },
            toggleSubscription () {
                if (this.subscribed === true) {
                    axios.delete(route('jobs.subscriptions.destroy', this.id))
                    .then(() => this.subscribed = false)
                } else {
                    axios.post(route('jobs.subscriptions.store', this.id))
                    .then(() => this.subscribed = true)
                    .catch(error => {
                        this.$q.notify({ message: error.response.data.message })
                    })
                }
            }
        },

        async mounted () {
            this.job = (await axios.get(route('jobs.show', this.id) + '?relationships=true')).data

            const filter = `?per_page=5&filter={"jobs": [${this.id}]}`
            this.logs = (await axios.get(route('logs.search') + filter)).data.data

            axios.get(route('jobs.subscriptions.show', this.id))
            .then(() => this.subscribed = true)
            .catch(() => this.subscribed = false)
        },

        created () {
            Echo.channel('cronlog')
            .listen('.CronLog.Created', e => {
                if (e.model.cron_job_id == this.id) {
                    this.logs.unshift(e.model)
                }
            })
            .listen('.CronLog.Updated', e => {
                const index = this.logs.findIndex(log => log.id == e.model.id)

                if (index !== null) {
                    this.$set(this.logs, index, e.model)
                }
            });
        }
    }
</script>

<style lang="scss" scoped>
    .q-btn .q-icon {
        margin-right: 5px;
    }

    .header {
        border-top: 1px solid #ddd;
        padding-top: 10px;
        margin: 0 0 5px 0;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        &--no-border {
            border-top: 0;
        }
    }

    .button {
        padding: 0 10px;
    }
</style>
